*{   
     box-sizing:border-box;
}

.container  {
     width: 80%;
     margin: auto;
}
.center {
     text-align: center;
}
.text {
     font-size: 20px;
     color: saddlebrown;
}
.text-field input {
     padding: 15px;
     display: block;
     width: 50%;
     color: darkorange;
     font-size: 14px;
     border: 1px solid #6a5af9;
     border-radius: 4px;
     margin: auto;
     
}

.button-effect {
     padding: 1rem 2rem;
     border: 0;
     color: black;
     background-color: orange ;
     text-transform: uppercase;
     transition: padding 0.25s linear;
     text-align: center;
     border-radius: 10px;
     cursor: pointer;
     transition: all .5s;
}
.button-effect:hover {
     background: orangered;
     color: white;
} 
